* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Open Sans", sans-serif;
}
ul li {
  list-style: none;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  font-weight: 400;
  color: #f9f9f9;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 7px;
  margin-top: 50px;
}
.footer-info {
  color: black;
  font-size: 30px;
  font-family: "Oxygen", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 65%;
  height: 80vh;
  margin: 50px auto;

  background-color: rgba(0, 0, 0, 0.73);
}
/**      container  */
.city {
  width: 60%;
  height: 100%;
  float: left;
  background: url("./images/city1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 500px;
  position: relative;
  background-position-x: -30px;
}
.title {
  display: flex;
  justify-content: flex-end;
  font-family: "Oxygen", sans-serif;
  padding: 30px 30px 0 0;
}

.title h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.title h3 {
  font-size: 25px;
  font-weight: bold;
  color: #eee;
  margin-top: 0px;
  text-align: right;
}
.mb-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  color: #fff;
}
.mb-icon p {
  font-size: 30px;
  font-weight: 700;
}
.date-time {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 90%;
  padding: 48px;
  font-family: "Oxygen", sans-serif;
  display: flex;
  justify-content: space-between;
}
/* .dmy {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */
.temperature p {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  font-weight: 100;
}
.current-time {
  font-size: 50px;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
@media screen and (max-width: 1500px) {
  .temperature p {
    font-size: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .date-time {
    padding: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .current-time {
    font-size: 30px;
  }
  .date-time {
    padding: 16px;
  }
  .forecast {
    padding: 25px;
  }
  .today-weather h5 {
    font-size: 20px;
    text-align: center;
  }
  .search-box .img-box {
    width: 25px;
    height: 25px;
  }
  .search-bar,
  .search-box {
    font-size: auto;
  }
}
@media screen and (max-width: 800px) {
  .date-time {
    flex-direction: column;
    gap: 25px;
  }
  .mb-icon p {
    font-size: 20px;
    color: black;
  }
  .title h2 {
    font-size: 20px;
  }
  .footer-info {
    font-size: 18px;
    color: white;
  }
  .App .container {
    width: 65%;
    height: auto;
    margin: 25px auto;

    display: flex;
    flex-direction: column;
  }
  .city,
  .forecast {
    width: 100%;
  }
}
